<!-- <p>add-account works!</p> -->
<div
  class="relative bg-slate-50 bg-opacity-90 rounded-lg shadow-lg p-12 max-w-4xl mx-auto flex items-center space-x-12 mt-10"
>
  <!-- Left side: envelope icon -->
  <div class="flex-shrink-0">
    <img
      src="https://cdn-icons-png.flaticon.com/128/2766/2766237.png"
      alt=""
      class="hidden lg:block mx-20"
    />
  </div>

  <!-- Right side: Contact form -->
  <div class="w-full max-w-md">
    <h2 class="text-3xl font-semibold text-gray-900 mb-6 text-center">
      เพิ่มบัญชี
    </h2>
    <form class="space-y-4">
      <!-- Name input -->
      <div class="form-group">
        <label for="price" class="text-bold">ชื่อบัญชี</label>
        <input
          formControlName="accountName"
          type="text"
          placeholder="ชื่อบัญชี"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
        />
      </div>
      <!-- Currency dropdown input -->
      <div class="form-group">
        <label for="price" class="text-bold">สกุลเงิน</label>
        <input
          list="currencies"
          for="currency"
          name="currency"
          placeholder="สกุลเงิน"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
        />

        <datalist id="currencies">
          <option value="THB - Thai Baht"></option>
          <option value="USD - US Dollar"></option>
          <option value="EUR - Euro"></option>
          <option value="JPY - Japanese Yen"></option>
          <option value="CNY - Chinese Yuan"></option>
        </datalist>
      </div>
      <!-- Message input -->
      <div class="form-group">
        <label for="message" class="sr-only">Message</label>
        <textarea
          id="message"
          name="message"
          rows="4"
          placeholder="รายละเอียด"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500"
        ></textarea>
      </div>
      <!-- Submit button -->
      <div class="flex">
        <button
          class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-md font-semibold text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        >
          <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
          >
            ยืนยัน
          </span>
        </button>
        <button
          class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-md font-semibold text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800"
          routerLinkActive="active" 
          routerLink="/account"
        >
          <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
          >
            ยกเลิก
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
