<!-- <p>account transaction works!</p> -->
<div class="container justify-center mx-auto mt-4">
  <div
    class="flex flex-col md:flex-row justify-between items-center pt-2 pb-2 mb-3 border-b text-center md:text-left"
  >
    <h2 class="text-xl font-bold mb-2 md:mb-0">รายการธุรกรรม</h2>
    <p class="text-sm">
      วันที่ปัจจุบัน: {{ currentDate | date : "dd/MM/yyyy HH:mm:ss" }}
    </p>
  </div>

  <!-- V1 table -->

  <div class="overflow-x-auto w-full sm:w-auto rounded-md">
    <table class="min-w-full border border-gr ay-300">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 border-b border-gray-300 text-left">
            วันที่และเวลา
          </th>
          <th class="px-4 py-2 border-b border-gray-300 text-left">หมวดหมู่</th>
          <th
            class="px-4 py-2 border-b border-gray-300 text-left hidden sm:table-cell"
          >
            รายละเอียด
          </th>
          <th class="px-4 py-2 border-b border-gray-300 text-left">
            จำนวนเงิน
          </th>
          <th class="px-4 py-2 border-b border-gray-300 text-left text-center">
            แก้ไข/ลบ
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let transaction of transactionsOfAccount; let i = index"
          class="even:bg-gray-50"
        >
          <td class="py-2 px-4 hidden md:table-cell">
            {{ transaction.date | date : "dd/MM/yyyy" }} <br />
            {{ transaction.date | date : "HH:mm:ss" }}
          </td>
          <td class="py-2 px-4 table-cell md:hidden">
            {{ transaction.date | date : "d/M H:mm" }}
          </td>
          <td class="px-4 py-2 border-b border-gray-300">
            {{ transaction.category }}
          </td>
          <td class="px-4 py-2 border-b border-gray-300 hidden sm:table-cell">
            {{ transaction.description }}
          </td>
          <td class="px-4 py-2 border-b border-gray-300">
            <span
              [ngClass]="{
                'text-red-500': transaction.amount < 0,
                'text-green-500': transaction.amount >= 0
              }"
            >
              {{ transaction.amount | number : "1.2-2" }}
            </span>
          </td>
          <td class="px-4 py-2 border-b border-gray-300 text-center">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded text-sm m-1"
              *ngIf="account && account._id"
              [routerLink]="['/account/edit-transaction', account._id, transaction._id]"
            >
              แก้ไข
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded text-sm m-1"
              (click)="delete(transaction._id, i)"
            >
              ลบ
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
