<div class="nav-wrapper px-5 shadow-md bg-opacity-60">
  <nav class="max-w-screen-xl mx-auto flex justify-between items-center p-2">
    <div class="flex">
      <!-- Logo's Website -->
      <div class="logo" routerLinkActive="active" routerLink="">
        <img src="assets/images/dootang_logo.png" alt="Logo" />
      </div>

      <div class="block my-auto"></div>
      <!-- Menu Bar -->
      <ul class="menu">
        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/"
            >หน้าหลัก</a
          >
        </li>
        <ul class="block rounded border-b" *ngIf="!authService.isLoggedIn()">
          <span
            class="block text-red-500 text-center bg-red-200 rounded cursor-pointer p-1 hover:text-white hover:bg-red-600 mt-1"
            (click)="toggleMenuBar()"
            >เมนูสำหรับทดลองใช้งาน</span
          >
          <ul class="flex" *ngIf="menuBarVisible">
            <li>
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/dashboard"
                >แดชบอร์ด</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/add-transaction"
                >บัญชี</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                routerLinkActive="active"
                routerLink="/add-transactionV2"
                >รายการธุรกรรม</a
              >
            </li>
          </ul>
        </ul>

        <li>
          <a
            class="nav-link"
            *ngIf="authService.isLoggedIn()"
            routerLinkActive="active"
            routerLink="/account"
            >บัญชี</a
          >
          <ng-template #loggedOut>
            <div routerLinkActive="active" routerLink="/login" class="flipper">
              <div class="logInA"></div>
              <div class="logInB"></div>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>

    <!-- Hamburger button -->
    <!-- <button class="hamburger" [class.open]="menuVisible" (click)="toggleMenu()">
      <span *ngIf="!menuVisible"></span>
      <span *ngIf="!menuVisible"></span>
      <span *ngIf="!menuVisible"></span>
      <span *ngIf="menuVisible"></span>
      <span *ngIf="menuVisible"></span>
      <span *ngIf="menuVisible"></span>
    </button> -->

    <div class="relative inline-block text-left md:hidden">
      <button
        class="inline-flex justify-center w-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 rounded-md"
        (click)="isDropdownOpen = !isDropdownOpen"
      >
        <img
          class="h-10"
          src="https://cdn-icons-png.flaticon.com/512/5608/5608375.png"
        />
      </button>

      <div
        *ngIf="isDropdownOpen"
        class="absolute right-0 z-10 mt-2 w-48 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5"
      >
        <div
          class="py-1 border-b rounded"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="options-menu"
        >
          <span
            (click)="isDropdownOpen = false"
            routerLinkActive="active"
            routerLink="/"
            class="block px-4 py-2 text-gray-700 hover:text-red-500 cursor-pointer"
            role="menuitem"
          >
            หน้าหลัก
          </span>
          <ul class="block rounded border-b" *ngIf="!authService.isLoggedIn()">
            <span
              class="block text-red-500 text-center bg-red-200 cursor-pointer p-1 hover:text-white hover:bg-red-600 mt-1"
              (click)="toggleMenuBar()"
              >เมนูสำหรับทดลองใช้งาน</span
            >
            <ul class="block bg-red-100 text-sm" *ngIf="menuBarVisible">
              <li class="mx-4 hover:text-red-500 cursor-pointer py-2">
                <span
                  (click)="isDropdownOpen = false"
                  routerLinkActive="active"
                  routerLink="/dashboard"
                >
                  • แดชบอร์ด
                </span>
              </li>
              <li class="mx-4 hover:text-red-500 cursor-pointer py-2">
                <span
                  (click)="isDropdownOpen = false"
                  routerLinkActive="active"
                  routerLink="/add-transaction"
                >
                  • บัญชี
                </span>
              </li>
              <li class="mx-4 hover:text-red-500 cursor-pointer py-2">
                <span
                  (click)="isDropdownOpen = false"
                  routerLinkActive="active"
                  routerLink="/add-transactionV2"
                >
                  • รายการธุรกรรม
                </span>
              </li>
            </ul>
          </ul>

          <span
            (click)="isDropdownOpen = false"
            class="block px-4 py-2 text-gray-700 hover:text-red-500 cursor-pointer"
            *ngIf="authService.isLoggedIn()"
            routerLinkActive="active"
            routerLink="/account"
          >
            บัญชี
          </span>

          <span
            (click)="isDropdownOpen = false"
            class="block px-4 py-2 text-gray-700 bg-red-200 text-red-500 hover:text-white0 cursor-pointer"
            *ngIf="authService.isLoggedIn()"
            (click)="logout()"
          >
            ออกจากระบบ
          </span>

          <span
            (click)="isDropdownOpen = false"
            *ngIf="!authService.isLoggedIn()"
            routerLinkActive="active"
            routerLink="/login"
            class="block px-4 py-2 text-gray-700 hover:text-red-500 cursor-pointer"
            role="menuitem"
          >
            เข้าสู่ระบบ
          </span>
        </div>
      </div>
    </div>

    <!-- Hamburger menu -->
    <ul class="menu-hamburger" [class.open]="menuVisible">
      <li routerLinkActive="active" routerLink="/" (click)="closeMenu()">
        <a class="nav-link">หน้าหลัก</a>
      </li>
      <li
        routerLinkActive="active"
        routerLink="/dashboard"
        (click)="closeMenu()"
      >
        <a class="nav-link">แดชบอร์ด</a>
      </li>
      <li routerLinkActive="active" routerLink="/account" (click)="closeMenu()">
        <a class="nav-link">บัญชี</a>
      </li>
      <!-- <li><a class="nav-link" routerLinkActive="active" routerLink="/add-transaction" (click)="closeMenu()">เพิ่มรายการธุรกรรม (เวอร์ชั่น 1)</a></li> -->
      <!-- <li><a class="nav-link" routerLinkActive="active" routerLink="/add-transactionV2" (click)="closeMenu()">เพิ่มรายการธุรกรรม (เวอร์ชั่น 2)</a></li> -->
    </ul>

    <ul class="button">
      <figure></figure>
      <!-- เช็คการล็อกอินและแสดงชื่อผู้ใช้ -->
      <li class="flex" *ngIf="authService.isLoggedIn()">
        <span class="my-auto">{{ authService.getUsername() }}</span>
        <div class="flipper ml-3" (click)="logout()">
          <div class="logOutA"></div>
          <div class="logOutB"></div>
        </div>
      </li>
      <li class="flex" *ngIf="!authService.isLoggedIn()">
        <div class="welcome-message text-center my-auto mr-2 flex">
          ยินดีต้อนรับ <span class="text-red-500 pl-1"> เข้าสู่ระบบ ⮕</span>
        </div>
        <!-- เพิ่มข้อความ -->
        <div routerLinkActive="active" routerLink="/login" class="flipper">
          <div class="logInA"></div>
          <div class="logInB"></div>
        </div>
      </li>
    </ul>
  </nav>
</div>
