<!-- <p>add-transaction works!</p> -->
<div class="md:container md:mx-auto mt-4">
    <h2 class="text-center text-blue-600 font-bold">เพิ่มรายการธุรกรรม</h2>
    <div class="flex justify-center mt-3 ">
        <div class="col-md-4 bg-slate-50 rounded-md">
            <!-- <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()"> -->
            <form [formGroup]="transactionForm" class="m-3" (ngSubmit)="onSubmit()">
            <!-- <form action=""> -->
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" class="transactionClassName" formControlName="title" required>
                </div>
                <div class="form-group">
                    <label for="price">Transaction Type</label>
                    <input type="text" class="transactionClassName" formControlName="type" required>
                </div>
                <div class="form-group">
                    <label for="description">Amount</label>
                    <input type="text" class="transactionClassName" formControlName="amount" required>
                </div>
                <div class="form-group mt-3 ">
                    <button class="submitButton" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
 </div>