<div class="relative isolate overflow-hidden bg-white-900 py-24 sm:py-32">
  <img
    src="https://cdn.pixabay.com/photo/2014/07/06/13/55/calculator-385506_960_720.jpg"
    alt=""
    class="absolute inset-0 z-[-3] h-full w-full object-cover object-right md:object-center filter blur-[1px] brightness-120 opacity-30"
  />
  <div class="max-w-screen-xl mr-auto flex relative">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto max-w-2xl lg:mx-0 bg-white p-10 rounded-md relative z-[-1]">
        <div class="flex">
          <img
            class="h-10 items-center justify-center my-auto"
            src="https://cdn-icons-png.flaticon.com/512/126/126229.png"
            alt=""
          />
          <span class="text-2xl leading-8 p-2 my-auto text-center">
            Personal Financial Management || Doo Tang
          </span>
        </div>

        <h2 class="text-2xl tracking-tight sm:text-6xl p-2 mt-5">
          โปรแกรมทำบัญชีออนไลน์
        </h2>
        <p class="text-md p-2">
          เครื่องมือบันช่วยทึกรายรับรายจ่าย สำหรับการทำบัญชีในชีวิตประจำวัน
          ลงบัญชีค่าใช้จ่ายได้ง่าย ๆ ใน Doo Tang ด้วยคอมพิวเตอร์หรือมือถือของคุณ
          ประหยัดเวลาทำบัญชีด้วยเทคโนโลยี
        </p>
        <p class="leading-8 p-2">
          <span class="text-red-500">โปรแกรมอยู่ระหว่างการพัฒนา</span>
          เป็นโปรแกรมอย่างง่ายที่สามารถใช้งานคนเดียว หรือมีทีมงาน
          คนในครอบครัวหลายคน ก็สามารถทำงานร่วมกันได้ทั้งบนมือถือและเว็บไซต์
        </p>
      </div>
    </div>
    <img
      src="https://plus.unsplash.com/premium_photo-1679922389535-7f4badadc07c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      class="hidden lg:block h-[500px] right-[-200px] bottom-[-45px] object-cover object-right md:object-center absolute rounded-md z-[-2]"
    />
  </div>
</div>
