<!-- <p>home works!</p> -->
<div class="relative isolate overflow-hidden bg-white-900 py-24 sm:py-32">
  <img
    src="https://cdn.pixabay.com/photo/2014/07/06/13/55/calculator-385506_960_720.jpg"
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center filter blur-[1px] brightness-120 opacity-30"
  />
  <div class="flex">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto max-w-2xl lg:mx-0 bg-gray-900 p-2 rounded-md bg-opacity-50"
      >
        <h2
          class="text-4xl font-bold tracking-tight text-white sm:text-6xl bg-gray-900 p-2 rounded-md bg-opacity-50"
        >
          โปรแกรมบัญชีส่วนบุคคลออนไลน์
        </h2>
        <p class="text-lg leading-8 text-white p-2">
          เว็บไซต์จัดการการเงินส่วนบุคคล
        </p>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <p class="text-2xl leading-8 text-black p-2">หน้าต่างของเว็บไซต์</p>
        <div
          class="text-base text-black font-semibold text-white smd:block"
        >
          <a
            class="hover:text-red-500 flex "
            routerLinkActive="active"
            routerLink="/"
            >- หน้าหลัก
          </a>
          <a
            class="hover:text-red-500 flex mt-5"
            routerLinkActive="active"
            routerLink="/dashboard"
            >- แดชบอร์ด
          </a>
          <a class="hover:text-red-500 flex mt-5" href="#">- บัญชี </a>
          <a class="hover:text-red-500 flex mt-5" href="#">- รายการธุรกรรม</a>
        </div>
      </div>
    </div>
    <img
      src="assets/images/side-image.png"
      alt=""
      class="hidden lg:block h-[500px] right-0 inset-y-0 object-cover object-right md:object-center mr-auto mt-auto"
    />
  </div>
</div>
