<!-- <p>account works!</p> -->
<div class="md:container md:mx-auto mt-4 mx-4">
  <!-- Heading-->
  <div
    class="flex justify-between flex-wrap md:flex-nowrap items-center pt-2 pb-2 mb-3 border-b"
  >
    <h2 class="text-left text-blue-600 font-bold">บัญชี</h2>
  </div>

  <!-- Account -->
  <div *ngIf="accounts && accounts.length > 0; else noAccount">
    <div *ngFor="let account of accounts; let i = index" class="even:bg-gray-50 mt-2">

      <!-- Setting button -->
      <img
        src="https://cdn-icons-png.flaticon.com/128/3524/3524659.png"
        alt="Settings"
        class="h-6 w-6 ml-auto relative cursor-pointer"
        (click)="toggleDropdown(i)" 
      />
      <div *ngIf="dropdownOpen[i]" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 shadow-md rounded-md">
        <ul>
          <li class="p-2 hover:bg-blue-100 cursor-pointer" (click)="editAccount(i)">แก้ไข</li>
          <li class="p-2 hover:bg-red-100 cursor-pointer" (click)="deleteAccount(i)">ลบ</li>
        </ul>
      </div>

      <!-- Account information -->

      <div class="flex items-center justify-between p-4 border-b">
        <div class="flex items-center">
          <div class="bg-purple-200 rounded-full p-2 mr-4">
            <img
              src="https://cdn-icons-png.flaticon.com/128/6418/6418361.png"
              alt="Icon"
              class="h-20 cursor-pointer"
              routerLinkActive="active"
              routerLink="/dashboard"
            />
          </div>
          <div>
            <h4
              routerLinkActive="active"
              routerLink="/dashboard"
              class="font-bold cursor-pointer hover:text-red-500"
            >
              {{ account.accountName }}
            </h4>
            <p class="text-sm text-gray-500">{{ account.description }}</p>
          </div>
        </div>
        <div class="flex items-center">
          <p class="font-bold text-red-500 text-right">
            {{ account.balance }} {{ account.currency }}
          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- No Account -->

  <ng-template #noAccount>
    <p class="text-center mt-4 text-gray-500">ไม่มีบัญชีในระบบ</p>
  </ng-template>

  <!-- Add account button -->

  <div class="text-left mt-2">
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      routerLinkActive="active"
      routerLink="/add-account"
    >
      เพิ่มบัญชี
    </button>
  </div>
  
</div>
